
#fp-nav ul li a span {
    background: #A4A4A4 !important;
}

#fp-nav ul li .fp-tooltip {
    color: lightblue !important;
}

.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    margin: 0;
    padding: 10px 20px;
    width: 90%;
}

.nav li,
.nav a{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    color: #A4A4A4;
    font-size: 1.5em;
    transition: .8s;
}

.nav li.active{
    border-bottom: 3px solid lightblue;
    font-size: 1.65em;
    transition: 1s;
}

.menu li a{
    transition: .5s ease;
    margin: 0 4px;
    padding: 0;
}

.menu li.active a,
.menu li:hover a{
    color: lightblue;
}


.fp-controlArrow.fp-next,
.fp-controlArrow.fp-prev{
top: 90%;

}

.fp-controlArrow.fp-prev{
    left: 20%;
    border-width: 20px 20px 20px 0;
    border-color: transparent lightblue transparent transparent !important; 
    animation: ladeo 2s ease infinite;
}




.fp-controlArrow.fp-next{
    left: 80%;
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent lightblue !important; 
    animation: ladeo2 2s ease infinite;
}

@keyframes ladeo{
    0% {transform: translateX(20px);}
    25% {transform: translateX(0px);}
    100% {transform: translateX(20px);}
}

@keyframes ladeo2{
    0% {transform: translateX(-20px);}
    25% {transform: translateX(0px);}
    100% {transform: translateX(-20px);}
}